<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link Email Template</title>
    <style>
      body {
        font-family: "Georgia", "Times New Roman", Times, serif;
      }
      .container-main {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 20px 0px;
        justify-content: center;
        background: #f9f9f9;
      }
      .container {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        background: #082835;
        border: 1px solid white;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }
      .header {
        padding: 10px 10px 0px 10px;
      }
      .header img {
        max-width: 200px;
      }
      .section {
        padding: 10px 10px;
      }
      .section p {
        margin: 0;
        font-size: 16px;
        color: #f0f0f0;
      }
      .section .title {
        font-size: 21px;
        font-weight: 700;
        color: #fff;
      }
      .button {
        all: unset;
        border: none;
        font-size: 18px;
        font-weight: 700;
        padding: 8px 20px;
        color: #082835;
        background-color: #fff;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 10px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="container-main">
      <div class="container">
        <div class="header">
          <img src="cid:<%= imageCid %>" alt="NabEstateLogo" />
        </div>

        <div class="section" style="padding-top: 0px">
          <h2 class="title"><%= subject %></h2>
          <p style="font-weight: 600; font-size: 18px; margin-bottom: 2px">
            Dear <%= username %>,
          </p>
          <p style="font-weight: 500">
            We received a request to <%= topic %> for your NAB Estate account.
          </p>
        </div>

        <div class="section">
          <p style="font-weight: 600">
            To <%= topic %>, please click the below <%= buttonText %> button
          </p>
          <a href="<%= link %>">
            <button class="button"><%= buttonText %></button>
          </a>
        </div>

        <div class="section" style="margin-top: 10px">
          <p style="font-weight: 600"><%= alertMessage %></p>
          <br />
          <p style="font-weight: 500">Best regards,</p>
          <p style="font-weight: 500">Nab Estate Team</p>
        </div>
      </div>
    </div>
  </body>
</html>
